body {
    padding: 10px;
    font: 14px Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
}

.log {
    color: green;
}

.rec {
    color: blue;
}
